In [5]:
import pandas as pd
from surprise import Reader, SVD, Dataset, accuracy
from surprise.model_selection import train_test_split,GridSearchCV,cross_validate
movie = pd.read_csv("movies.csv")
rating = pd.read_csv("ratings.csv")
df = pd.merge(movie, rating,how="left",on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,9.449194e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,8.582755e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.339819e+08
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,9.434979e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,1.230859e+09

In [6]:
movie_ids = [130219,356,4422,541]
movies= ["The Dark Knight (2011)",
         "Cries and Whispers (Viskningar och rop) (1972)",
         "Forrest Gump (1994)",
         "Blade Runner (1982)"]

sample_df = df.loc[df["movieId"].isin(movie_ids)]
sample_df

,movieId,title,genres,userId,rating,timestamp
2457839,356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.0,4.0,8.408789e+08
2457840,356,Forrest Gump (1994),Comedy|Drama|Romance|War,7.0,4.0,1.011208e+09
2457841,356,Forrest Gump (1994),Comedy|Drama|Romance|War,8.0,5.0,8.339823e+08
2457842,356,Forrest Gump (1994),Comedy|Drama|Romance|War,9.0,4.0,9.940192e+08
2457843,356,Forrest Gump (1994),Comedy|Drama|Romance|War,10.0,3.0,9.434971e+08
...,...,...,...,...,...,...
14742596,4422,Cries and Whispers (Viskningar och rop) (1972),Drama,137665.0,5.0,1.015723e+09
14742597,4422,Cries and Whispers (Viskningar och rop) (1972),Drama,137851.0,4.5,1.346153e+09
14742598,4422,Cries and Whispers (Viskningar och rop) (1972),Drama,137904.0,3.5,1.169100e+09
14742599,4422,Cries and Whispers (Viskningar och rop) (1972),Drama,138325.0,5.0,1.282957e+09
20000515,130219,The Dark Knight (2011),Action|Crime|Drama|Thriller,1339.0,4.5,1.426852e+09

In [7]:
user_movie_df = sample_df.pivot_table(index="userId",columns="movieId",values="rating")
user_movie_df

movieId   356     541     4422    130219
userId
1.0          NaN     4.0     NaN     NaN
2.0          NaN     5.0     NaN     NaN
3.0          NaN     5.0     NaN     NaN
4.0          4.0     NaN     NaN     NaN
7.0          4.0     NaN     NaN     NaN
...          ...     ...     ...     ...
138474.0     5.0     NaN     NaN     NaN
138483.0     4.0     4.0     NaN     NaN
138484.0     5.0     NaN     NaN     NaN
138486.0     5.0     NaN     NaN     NaN
138493.0     5.0     NaN     NaN     NaN

[76918 rows x 4 columns]

In [8]:
reader = Reader(rating_scale=(1,5))

In [9]:
data = Dataset.load_from_df(sample_df[["userId","movieId","rating"]],reader)
data

In [ ]:
train, test = train_test_split(data,test_size=.25)
svd_model = SVD(n_factors=60)
svd_model.fit(train)
predictions = svd_model.test(test)
predictions

In [37]:
accuracy.rmse(predictions)

RMSE: 0.9380

0.93799535220171

In [38]:
svd_model.predict(uid=40101.0,iid=356,verbose=True,r_ui=2)

user: 40101.0    item: 356        r_ui = 2.00   est = 3.92   {'was_impossible': False}

Prediction(uid=40101.0, iid=356, r_ui=2, est=3.922437925389811, details={'was_impossible': False})

In [39]:
svd_model.predict(uid=97368.0,iid=356,verbose=True)

user: 97368.0    item: 356        r_ui = None   est = 4.16   {'was_impossible': False}

Prediction(uid=97368.0, iid=356, r_ui=None, est=4.161252101433966, details={'was_impossible': False})

In [55]:
param_grid = {"n_epochs":[5,10,20],
              "lr_all":[0.002,0.005,0.007],
              "n_factors":[20,40,70,100]}
gs = GridSearchCV(SVD,param_grid,measures=["rmse","mae"],cv=5,n_jobs=-1,joblib_verbose=True)
gs.fit(data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:   20.4s finished

In [44]:
gs.best_params

{'rmse': {'n_epochs': 5, 'lr_all': 0.005, 'n_factors': 20},
 'mae': {'n_epochs': 5, 'lr_all': 0.007, 'n_factors': 20}}

In [45]:
gs.best_score

{'rmse': 0.9302532978927136, 'mae': 0.713294478912878}

In [46]:
gs.best_params["rmse"]

{'n_epochs': 5, 'lr_all': 0.005, 'n_factors': 20}

In [ ]:
dir(SVD())

In [48]:
SVD().n_factors

100

In [56]:
svd_model = SVD(**gs.best_params["rmse"]) 
data = data.build_full_trainset()
svd_model.fit(data)

In [58]:
pred=svd_model.predict(uid=40101.0,iid=356,verbose=True,r_ui=2)
pred

user: 40101.0    item: 356        r_ui = 2.00   est = 3.90   {'was_impossible': False}

Prediction(uid=40101.0, iid=356, r_ui=2, est=3.8954258430566813, details={'was_impossible': False})

plus

In [61]:
pred_df = pd.DataFrame([{'uid': pred.uid, 
                         'iid': pred.iid, 
                         'r_ui': pred.r_ui, 
                         'est': pred.est, 
                         }])
pred_df

       uid  iid  r_ui       est
0  40101.0  356     2  3.895426

In [66]:
preds = []

# Her bir kullanÄ±cÄ± ve Ã¶ÄŸe Ã§ifti iÃ§in tahmin yap
for uid, iid in zip(sample_df['userId'], sample_df['movieId']):
    pred = svd_model.predict(uid, iid)
    preds.append(pd.DataFrame({'uid': [pred.uid], 
                               'iid': [pred.iid], 
                               'r_ui': [pred.r_ui], 
                               'est': [pred.est], 
                               }))

# TÃ¼m tahminleri tek bir DataFrame'e birleÅŸtir
pred_df = pd.concat(preds, ignore_index=True)

In [ ]:
preds

In [67]:
pred_df

            uid     iid  r_ui       est
0           4.0     356  None  4.049350
1           7.0     356  None  4.047771
2           8.0     356  None  4.156136
3           9.0     356  None  4.071540
4          10.0     356  None  4.014795
...         ...     ...   ...       ...
97338  137665.0    4422  None  4.114758
97339  137851.0    4422  None  4.104296
97340  137904.0    4422  None  3.933818
97341  138325.0    4422  None  4.148356
97342    1339.0  130219  None  4.085729

[97343 rows x 4 columns]

In [72]:
pred_df.groupby("uid").agg({"est":"mean"})

               est
uid
1.0       4.162488
2.0       4.252716
3.0       4.237015
4.0       4.049350
7.0       4.047771
...            ...
138474.0  4.120755
138483.0  4.114165
138484.0  4.116710
138486.0  4.066799
138493.0  4.080009

[76918 rows x 1 columns]

In [ ]:
svd_model.test(test)